colors/templates/kitty
colors/templates/xcolors
quickmarks
bookmarks/
__pycache__/
autoconfig.yml
qsettings/
todo

dots/discocss/.config/discocss/preload.js
dots/bin/.local/bin/notflix
dots/bin/.local/bin/mantablockscreen
dots/bin/.local/bin/ani-cli
dots/bin/.local/bin/catt
dots/bin/.local/bin/ddg-proxy
dots/nvim/.config/nvim/.github
dots/nvim/.config/nvim/LICENSE
dots/nvim/.config/nvim/.stylua.toml
dots/nvim/.config/nvim/.gitignore
dots/qutebrowser/.local/share/qutebrowser/greasemonkey/requires
dots/bin/.local/bin/ansi2html
dots/bin/.local/bin/cmark
dots/bin/.local/bin/dash-generate-components
dots/bin/.local/bin/dash-update-components
dots/bin/.local/bin/i3-auto-layout
dots/bin/.local/bin/renderer
dots/bin/.local/bin/termtyper
dots/bin/.local/bin/yt-rofi