environment {
  QT_QPA_PLATFORM "wayland"
  ELECTRON_OZONE_PLATFORM_HINT "auto"
  GDK_BACKEND "wayland"
  MOZ_ENABLE_WAYLAND "1"
}

spawn-at-startup "swaybg" "-i" "/home/thomal/Pictures/bg.png"
spawn-at-startup "awww-daemon"
spawn-at-startup "wayscriber" "--daemon"
spawn-at-startup "hyprlock"
spawn-at-startup "cliphist" "wipe"
spawn-at-startup "wl-paste" "--type" "text" "--watch" "cliphist" "store"
spawn-at-startup "wl-paste" "--type" "image" "--watch" "cliphist" "store"
spawn-at-startup "swaync"
spawn-at-startup "hypridle"
