environment {
  QT_QPA_PLATFORM "wayland"
  QT_QPA_PLATFORMTHEME "qt6ct"
  ELECTRON_OZONE_PLATFORM_HINT "auto"
  GDK_BACKEND "wayland"
  MOZ_ENABLE_WAYLAND "1"
  NOCTALIA_PAM_SERVICE "noctalia"
}

//spawn-at-startup "swaybg" "-i" "/home/thomal/Pictures/bg.png"
//spawn-at-startup "awww-daemon"
spawn-at-startup "cliphist" "wipe"
spawn-at-startup "wl-paste" "--type" "text" "--watch" "cliphist" "store"
spawn-at-startup "wl-paste" "--type" "image" "--watch" "cliphist" "store"
spawn-at-startup "wl-clip-persist" "--clipboard" "regular"
//spawn-at-startup "swaync"
//spawn-at-startup "hypridle"
//spawn-at-startup "qs" "-c" "noctalia-shell"
spawn-at-startup "noctalia"
