! ------------------------------------------------------------------------------
! theme colors
! ------------------------------------------------------------------------------
! special

*-font: FiraCode Nerd Font:pixelsize=12:antialias=true:autohint=true;
Xcursor.theme: Bibata-Modern-Classic
Xcursor.size: 12

